.App {
  text-align: center;
  margin-left: 40px;
  margin-right: auto;
}


section {
  padding: 20px;
}

.app-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
 
}

.app-note {
  background-color: rgb(159, 238, 157);
  margin-bottom: 16px;
  padding: 12px;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.content {
  color: #242424;
  /* background-color: #f25fff; */
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}